#!/bin/bash
# 远程服务器ip地址或者域名
hostname=47.110.225.216
# 远程服务器网站目录
server_path=/var/www/html/hxl
# ssh登录名，默认root
server_user=root
# 远程ssh端口，默认22
server_port=22
# ssh私钥，默认~/.ssh/id_rsa，仅Mac有效
ssh_private_file=~/.ssh/id_rsa
# ssh额外参数，默认空，仅Mac有效
ssh_proxy_command=''

# 需要加密的php目录，默认空
encrypt_php_dir=''
# 需要排除加密的php目录，默认空
encrypt_exclude_dir=''

# 上传完成后需要执行的操作，默认空
# 
# 例子：
#   after_upload_script=“
#       echo 'hello world'
#   ”
after_upload_script=''

# 忽略规则，默认空
# 
# 例子：
#   ignore_files="/data/upload/* /docs/*"
# 
ignore_files=''
